@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(236, 204, 204);
    height: auto;
    max-height: 180;
    width: 100%;
        
}

.navbar img{
    padding: 0;
    display: inline-block;
    max-height: 120px;
    width: auto;
    margin: auto auto auto 25px;
}

.navbar input{
    height: 50px;
    border-radius: 25px;
    padding: 15px 15px;
    border: 1px solid black;
}

.offcanvas-body{
    display: flex;
    justify-content: left;
    align-items: start;
}

.offcanvas-body ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.offcanvas-body ul li{
    margin: 15px 15px 0px 15px;
    font-size: 15px;
}

.loginInfo{
    margin: 25px;
    font-size: 20px;
}

footer{
    height: max-content;
    background-color: #00565F;  
}
.purchaseInfo{
    background-color: #01444C;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.purchaseInfo div{
    color: white;
    font-weight: bold;
    font-size: 20px;    
    text-align: center;
    width: 280px;
    padding: 40px auto;
    margin: 25px auto;
}
.purchaseInfo div i{
    font-size: 35px;
}

.shopInfo{
    padding: 25px;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
}
.shopInfo p{
    width: 200px;
    color: white;
}

footer hr{
    border: 2px solid white;
    width: 95%;
    margin: auto;
}
footer img{
    display: block;
    margin: auto;
}